/*
Author : Robert Jackson
Date: 04/25/15
Class: CS290
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
    font-family: 'PT Sans', sans-serif;
    margin:20px;
}
/*CONTAINERS*/
.gistContainer {
    float: left;
    width: 40%;

}

#gists {
    border: solid 1px #3FB4D1;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    background-color: #6089A8;
}

#favorites {
    border: solid 1px #3FB4D1;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    background-color: #6089A8;
}

section {
    padding-top: 20px;
    clear:both;
    margin-left:20px;
}
.pageControl {
    padding-top: 20px;
    float:left;
    display: inline-block;
}
.search{
    float:left;
    display: inline-block;
    padding-top: 20px;
}

/*FORMS*/
input {
    font-size: 20px;
    border-radius: 5px;
    color: #6089A8;
    background-color: transparent;
}

#per_page, #page {
    width: 50px;
    position: relative;

}

fieldset {
    border-color: #736980;
    border-radius: 10px;
}
label{margin:10px;
    font-size:20px;}


.squ {
    width: 20px;
    height: 20px;
    background-color:  rgba(96, 137, 168, 0.44);
    margin: 20px auto;

}


/* TEXT STUFF */
a.gitLink {
    color: #8CFAD0;
    margin-right: 25px;
}

a.addLink {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #8CFAD0;
    color: #8CFAD0;
    border-radius: 2px;
    display: inline-block;
    padding: 5px;
    float: right;
    clear: both;
    line-height: 15px;

}
#gists span{
    color:#736980;
    font-size: 20px;
   margin:10px 30px;
    font-weight: 700;
}
#favorites span{display: none;  }

ul{list-style: none;}
li {
    margin: 22px;
}

h1 {
    font-size: 3em;
    color: #736980;

}

h2 {
    font-size:2em;
    color: #736980;
}
